
.App-logo {
  width: 45px;
  height: auto;
}

.App-header {
  
    background: #F55A5A;
    color: black;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    padding:6px 0;
   
}
.App-h1 {
  font-size: 35px;
  font-weight: 400;
}


