.App {
  text-align: center;
}

.App-logo {
  width: 28px;
  height: auto;
}

.App-header {
  
    background: #F55A5A;
    color: black;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    padding:6px 0;
   
}

.App-link {
  color: #61dafb;
}

